.new-folder-wrapper {
  background-color: rgb(var(--c-white));
  border-radius: 6px;
  height: 80vh;
  padding: 1.6rem;
  

  .form {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 100%;

    &-controls {
      display: flex;
      flex-flow: column;
    }

    &-btns {
      align-items: center;
      display: flex;
      gap: 1.2rem;
      justify-content: space-between;
      margin-top: auto;
      padding: 1.2rem;
      width: 100%;
    }  
  }
}