.input {
  background-color: rgb(var(--c-white));
  border: 1px solid var(--c-grey-400);
  border-radius: 4px;
  display: inline-block;
  color: rgb(var(--c-type));
  font-size: 1.6rem;
  font-family: inherit;
  height: 3.6rem;
  outline-width: 0;
  transition: 200ms ease;
  padding: 0 1.2rem;
  width: 30rem;

  &:active, &:focus {
    border-color: rgb(var(--c-primary));
  }
}