.folder-navigation {
  text-wrap: nowrap;
  width: 100%;

  &.root {
    border: 1px solid var(--c-grey-300);
    border-radius: 6px;
    min-height: 80vh;
    overflow: auto;
    padding: 0.8rem;
    min-width: 20rem;
    width: 28rem;
  }
}