@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
  font-family: 'Open Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  background-color: #ebebeb;
  // background-color: #242424;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --c-white: 255, 255, 255;
  --c-grey-100: #d3d3d3;
  --c-grey-200: #c3c3c3;
  --c-grey-300: #b3b3b3;
  --c-grey-400: #a3a3a3;
  --c-grey-500: #939393;
  --c-grey-600: #838383;
  --c-grey-700: #737373;
  --c-grey-800: #636363;
  --c-type: #555;
  --c-black: 0, 0, 0;
  // --c-type: #e3e3e3;

  --c-primary-lighten: 75, 166, 255;
  --c-primary-light: 53, 155, 255;
  --c-primary: 30, 144, 255;
  --c-primary-dark: 27, 130, 230;
  --c-primary-darken: 24, 115, 204;
  
  --c-danger-lighten: 255, 106, 51;
  --c-danger-light: 255, 88, 26;
  --c-danger: 255, 69, 0;
  --c-danger-dark: 230, 62, 0;
  --c-danger-darken: 204, 55, 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: var(--c-type);
  font-family: inherit;
  font-size: 1.6rem;
  padding: 1.6rem;
  height: 100%;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  height: 100%;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
